@import "@material/linear-progress/mdc-linear-progress";
@import "@material/textfield/mdc-text-field";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "./content-tabs.scss";
@import './user-information.scss';
@import './user-actions.scss';
@import './terms-lists.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background: gainsboro;
}

main .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}