.terms-lists {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
}

.terms-lists i.material-icons {
    margin-left: auto;
    margin-right: 0;
}

.terms-lists i.material-icons:hover {
    color: red;
}

@media only screen and (max-width: 1000px) {
    .terms-lists {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: center;
    }

}